[submodule "rollbar"]
	path = src/lib/rollbar
	url = git@github.com:adventuring/rollbar.lisp
[submodule "dreamhost"]
	path = src/lib/dreamhost
	url = git@github.com:adventuring/dreamhost.lisp
[submodule "Choerogryllum"]
	path = src/lib/Chœrogryllum
	url = git@github.com:adventuring/Choerogryllum
