[submodule "jscl"]
	path = src/lib/jscl
	url = git@github.com:romance-ii/jscl
	branch = toots
[submodule "babylon.js"]
	path = src/lib/babylon.js
	url = git@github.com:romance-ii/Babylon.js
	branch = toots
[submodule "alexandria"]
	path = src/lib/alexandria
	url = git@github.com:romance-ii/alexandria.git
        branch = master
[submodule "test-utils"]
	path = src/lib/test-utils
	url = https://github.com/Inaimathi/test-utils
        branch = master
[submodule "cl-selenium-webdriver"]
	path = src/lib/cl-selenium-webdriver
	url = git@github.com:TatriX/cl-selenium-webdriver.git
        branch = toots
