[Unit]
Description=The Tootsville HTTP REST Server
After=network.target remote-fs.target nss-lookup.target httpd-init.service

[Service]
Type=simple
Environment=LANG=C

ExecStart=/bin/bash -c 'exec /usr/bin/sudo -n -u pil /usr/local/bin/Tootsville daemon 5000 0.0.0.0'
#ExecReload=
ExecStop=/bin/bash -c 'exec /usr/bin/sudo -n -u pil killall Tootsville'
#/usr/local/bin/Tootsville swank-send-stop

PrivateTmp=true

#PidFile=/var/run/tootsville.pid

[Install]
WantedBy=multi-user.target
