[Unit]
Description=The Tootsville HTTP REST Server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
Environment=LANG=C

User=tootsville
ExecStart=/home/pil/tootsville.net/Tootsville daemon 5000 0.0.0.0
Restart=always
KillSignal=KILL
PrivateTmp=true

[Install]
WantedBy=multi-user.target
