<!DOCTYPE html> <!-- -*- web -*- -->

<!-- ./servers/templates/error/502.html is part of Tootsville

     Copyright  © 2008-2017  Bruce-Robert  Pocock;  ©   2018,2019  The
     Corporation for Inter-World Tourism and Adventuring (ciwta.org).

     This  program is  Free  Software: you  can  redistribute it  and/or
     modify it under the terms of  the GNU Affero General Public License
     as published by  the Free Software Foundation; either  version 3 of
     the License, or (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT  ANY  WARRANTY;  without   even  the  implied  warranty  of
     MERCHANTABILITY or  FITNESS FOR A  PARTICULAR PURPOSE. See  the GNU
     Affero General Public License for more details.

     You should  have received a copy  of the GNU Affero  General Public
     License    along     with    this    program.    If     not,    see
     <https://www.gnu.org/licenses/>.

     You can reach CIWTA at https://ciwta.org/, or write to us at:

     PO Box 23095

     Oakland Park, FL 33307-3095

     USA

     --><!--#include file="error-header.htmlf"-->
     <h1> 502 Error in Service Worker </h1>

<p>  The gateway  process  communicating with  you  received an  invalid
  response  from the  worker process  that  was trying  to fulfill  your
  request. </p>

<p> The  collection of  back-end workers that  should have  handled your
  request was <tt><!--#echo var="HTTP_HOST"--></tt>. </p>

<!--#if expr="%{HTTP_HOST} =~ /test.tootsville.org/" -->
<p>  <q>Tootsville.ga</q>  are  testing   servers.  It's  possible  that
  a  software experiment  is  being  tested right  now  that has  caused
  a disruption. </p> <!--#endif-->

<!--#if expr="%{HTTP_HOST} =~ /tootsville.org/" -->
<p>   <q>Tootsville.org</q>  are   our   main  servers.   Unfortunately,
  a  disruption like  this  will probably  affect many  or  most of  our
  players.    We'll     attempt    to    restore     service    quickly;
  check   <a   href="https://www.tootsbook.com/">Tootsbook.com</a>   for
  updates.   If   this  outage   has   not   yet  been   reported,   you
  can <a href="mailto:support@tootsville.net?subject=503+error+seen+on+tootsville.org+cluster">send
    an e-mail  message to our  support team</a>  in case we  haven't found
  out yet.
</p>
<!--#endif-->



<a  href="https://wiki.tootsville.org/wiki/Error_502">(Learn  More…)</a>
<!--#include file="error-footer.htmlf"-->
